*{
    padding:0px;
    margin:0px;
    font-family: cursive;
}

body{
    background:url("image/f45.jpg");
    background-size: cover;
    
    background-repeat: no-repeat;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
   
}

.container{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    align-items: center;
    height:300px;
    width:100%;
}

.songs{
    height:40px;
    border-radius: 6px;
    width:300px;
    color: palegoldenrod;
    display:flex;
    justify-content:space-evenly;
    align-items: center;
    cursor:pointer;
    border-right: 1.5px solid gold;
}
.songs:hover{
  box-shadow: 0 0 10px goldenrod,
              0 0 10px goldenrod;
  transition-duration: 1s;
}
span{
    height:50px;
    width:50px;
}

.control{
    height:300px;
    width:100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

button{
    height:50px;
    width:100px;
    font-family: cursive;
    border:none;
    background-color:transparent;
    color:burlywood;
    cursor:pointer;
    border-radius: 6px;
    border-right: 4px solid rgb(219, 202, 16);
    border-bottom: 4px solid gold;
}

button:hover{
    border-left: 4px solid rgb(229, 117, 12);
    border-top: 4px solid rgb(229, 117, 12);
    border-bottom: none;
    border-right: none;
    transition:all 1s ease;
}